html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 640px;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.main-header {
  background-color: #F5C506;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 186px;
  width: 25%;
  background-color: #4C4C4C;
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000;
}

.logo__svg-block {
  position: relative;
  width: 39.6px;
  height: 39px;
  margin-right: 5px;
  overflow: hidden;
}

.logo__svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.logo__svg_rot {
  opacity: 0.5;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.logo__title {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}

.logo__subtitle {
  display: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-navigation__item:not(:last-child) {
  border-right: 1px solid #DCB105;
}

.site-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F5C506;
  color: #9b7d08;
  font-size: 19px;
  text-transform: uppercase;
}

.site-navigation__link:hover, .site-navigation__link:focus {
  -webkit-box-shadow: inset 0px 0px 3px 0px #000000;
          box-shadow: inset 0px 0px 3px 0px #000000;
}

.site-navigation__svg {
  margin-right: 10px;
}

.video {
  cursor: pointer;
}

.video__img {
  display: block;
  width: 100%;
}

.video__title {
  display: none;
}

.slider__button {
  display: none;
}

@media screen and (min-width: 1020px) {
  .main-header {
    background-color: #000000;
  }
  .slider {
    position: relative;
    padding-top: 28px;
    padding-bottom: 71px;
    background-image: url(../img/bc1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
  }
  .slider__button {
    display: block;
    width: 32px;
    height: 57px;
    background-color: rgba(245, 197, 6, 0.71);
    border: none;
    cursor: pointer;
  }
  .slider__button_back, .slider__button_next {
    position: absolute;
    top: 50%;
  }
  .slider__button_back::before, .slider__button_back::after, .slider__button_next::before, .slider__button_next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 15px;
    background-color: #ffffff;
  }
  .slider__button_back::before, .slider__button_next::before {
    border-radius: 5px 5px 0 0;
  }
  .slider__button_back::after, .slider__button_next::after {
    border-radius: 0 0 5px 5px;
  }
  .slider__button_back {
    left: 0;
  }
  .slider__button_back::before {
    -webkit-transform: translate(-50%, -76%) rotate(45deg);
            transform: translate(-50%, -76%) rotate(45deg);
  }
  .slider__button_back::after {
    -webkit-transform: translate(-50%, -25%) rotate(-45deg);
            transform: translate(-50%, -25%) rotate(-45deg);
  }
  .slider__button_next {
    right: 0;
  }
  .slider__button_next::before {
    -webkit-transform: translate(-50%, -76%) rotate(-45deg);
            transform: translate(-50%, -76%) rotate(-45deg);
  }
  .slider__button_next::after {
    -webkit-transform: translate(-50%, -24%) rotate(45deg);
            transform: translate(-50%, -24%) rotate(45deg);
  }
  .main-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 84px;
    margin-bottom: 56px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .logo {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 520px;
    background-color: transparent;
  }
  .logo__svg-block {
    width: 83px;
    height: 84px;
    margin-right: 10px;
  }
  .logo__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 41px;
  }
  .logo__subtitle {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 13px;
    line-height: 25px;
    font-style: normal;
    text-shadow: none;
  }
  .site-navigation {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 453px;
    height: 41px;
    -webkit-box-shadow: -4px -4px 0px 0px rgba(245, 197, 6, 0.27), -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
            box-shadow: -4px -4px 0px 0px rgba(245, 197, 6, 0.27), -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
  }
  .site-navigation__link {
    font-size: 17px;
  }
  .site-navigation__svg {
    margin-right: 8px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__img {
    width: 549px;
    margin-left: 10px;
  }
  .video__title {
    margin-right: 10px;
    font-size: 63px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
  .video__title_gold {
    color: #f5c506;
  }
}

.customise {
  position: relative;
  min-height: 170px;
  background-image: url(../img/pattern-bevel.png);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(255, 255, 255, 0.4), 0px -8px 0px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px -4px 0px 0px rgba(255, 255, 255, 0.4), 0px -8px 0px 0px rgba(255, 255, 255, 0.4);
}

.customise__wrap {
  padding: 0 10px;
}

.customise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.customise__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 170px;
}

.customise__svg {
  margin-bottom: 25px;
  -webkit-filter: drop-shadow(3px 4px 0px rgba(185, 148, 1, 0.69));
          filter: drop-shadow(3px 4px 0px rgba(185, 148, 1, 0.69));
}

.customise__name {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

@media screen and (min-width: 1020px) {
  .customise {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px -2px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px -2px 5px 0px rgba(0, 0, 0, 0.4);
  }
  .customise__wrap {
    padding: 0;
  }
  .customise__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
  }
  .customise__item:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.14);
  }
}

.postblock {
  min-height: 485px;
  background-color: #F5C507;
}

.postblock__title {
  display: none;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #ffffff;
}

.stories__text-wrap {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 295px;
  margin-right: 10px;
  padding: 20px;
  background-color: #EC9E03;
}

.stories__text-wrap::before, .stories__text-wrap::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  content: '';
  width: 2px;
  height: 10px;
  background-color: #ffffff;
}

.stories__text-wrap::after {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.stories__text {
  font-size: 27px;
  line-height: 1.4;
  font-weight: 300;
  color: #ffffff;
}

.video-stories {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.video-stories:hover .video-stories__button, .video-stories:focus .video-stories__button {
  background-color: rgba(245, 197, 6, 0.8);
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
          box-shadow: 0px 0px 10px 0px #000000;
}

.video-stories__img {
  display: block;
  width: 315px;
  height: 232px;
}

.video-stories__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 61px;
  height: 61px;
  background-color: rgba(245, 197, 6, 0.72);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.video-stories__play {
  margin-left: 5px;
}

.time-stories {
  display: none;
}

.tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 230px;
}

.tweet__colum-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49.22%;
}

.tweet__quantity {
  display: none;
}

.tweet__colum-right {
  width: 50.78%;
  padding-top: 25px;
  padding-bottom: 13px;
}

.tweet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 28px;
  padding-right: 32px;
  list-style: none;
}

.tweet__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  padding: 6px 20px;
  background-color: #ffffff;
  border-radius: 9px;
}

.tweet__item:not(:last-child) {
  margin-bottom: 13px;
}

.tweet__item::before {
  position: absolute;
  left: -9px;
  bottom: 9px;
  content: '';
  width: 9px;
  height: 14px;
  background-image: url(../img/m-arrow.png);
}

.tweet__item_viewed {
  opacity: 0.7;
}

.tweet__text {
  font-size: 13px;
  color: #8f8e8e;
}

.form-tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  padding-right: 32px;
}

.form-tweet__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 31px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border: 1px solid #D0A806;
  border-right: none;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
  color: #8f8e8e;
  font-size: 13px;
}

.form-tweet__input:hover, .form-tweet__input:focus {
  border: 1px solid #714D00;
}

.form-tweet__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  padding: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaa927), to(#cf8e0c));
  background: linear-gradient(180deg, #eaa927 0%, #cf8e0c 100%);
  border: none;
  border: 1px solid #D0A806;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 15px;
  color: #ffffff;
  text-shadow: 0px 0px 3px #000;
}

.form-tweet__button:hover, .form-tweet__button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#cf8e0c), to(#eaa927));
  background: linear-gradient(180deg, #cf8e0c 0%, #eaa927 100%);
}

.scroll-bar {
  display: none;
}

@media screen and (min-width: 1020px) {
  .postblock {
    min-height: 453px;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #F6CC25;
    background-image: url(../img/pattern-tile.png);
  }
  .postblock__title {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-size: 37px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
  }
  .postblock__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 655px;
    margin-bottom: 45px;
    padding: 0px;
    background-color: transparent;
  }
  .stories__text-wrap {
    width: 340px;
    min-height: 232px;
    margin-right: 0px;
    padding: 20px 30px;
  }
  .time-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 113px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: justify;
    background-color: #DDB101;
  }
  .time-stories__day {
    font-size: 51px;
    font-weight: 700;
    color: #ffffff;
  }
  .time-stories__month {
    font-size: 21px;
    color: #b26529;
  }
  .tweet {
    position: relative;
    width: 329px;
    height: 232px;
  }
  .tweet::before, .tweet::after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    content: '';
    width: 2px;
    height: 10px;
    background-color: #ffffff;
  }
  .tweet::after {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  .tweet__colum-left {
    width: 100%;
    background-color: #EC9E03;
  }
  .tweet__quantity {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
  }
  .tweet__colum-right {
    display: none;
  }
  .scroll-bar {
    display: block;
    width: 896px;
    height: 15px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 7px;
  }
  .scroll-bar__toddler {
    width: 197px;
    height: 15px;
    margin-left: 247px;
    background-color: #EC9E03;
    border-radius: 7px;
  }
}

.resolutions {
  min-height: 376px;
  padding-top: 35px;
  padding-bottom: 55px;
  background-color: #474747;
}

.resolutions__title {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  font-size: 39px;
  font-weight: 400;
  color: #f5c506;
  text-align: center;
}

.resolutions__wrap-img {
  width: 540px;
  margin: 0 auto;
  position: relative;
}

.resolutions__wrap-img::before {
  position: absolute;
  top: -43px;
  left: -21px;
  content: 'Its 100% Free';
  width: 116px;
  min-height: 116px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 116px;
  background-color: #F5C506;
  border-radius: 50%;
  z-index: 2;
}

.resolutions__img {
  display: block;
  opacity: 0.57;
}

.resolutions__list {
  display: none;
}

@media screen and (min-width: 1020px) {
  .resolutions {
    min-height: 357px;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: #4C4C4C;
    background-image: url(../img/pattern-tracery.png);
  }
  .resolutions__title {
    font-size: 43px;
  }
  .resolutions__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .resolutions__wrap-img {
    margin: 0;
    margin-left: 21px;
  }
  .resolutions__list {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
    width: 382px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .resolutions__item {
    position: relative;
    padding-left: 25px;
    font-size: 22px;
    color: #a9a9a7;
  }
  .resolutions__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .resolutions__item::before {
    position: absolute;
    top: calc( (22px * 1.15) / 2 - 7px);
    left: 0;
    content: '';
    width: 14px;
    height: 14px;
    background-color: #F5C506;
    border-radius: 50%;
  }
}

.main-footer {
  min-height: 31px;
  padding: 6px 0;
  background-color: #4C4C4C;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

.main-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__designed {
  display: none;
}

.logo_footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: auto;
  width: auto;
  margin-left: 10.16%;
  background-color: transparent;
}

.logo__svg-block_footer {
  width: 31px;
  height: 31px;
}

.logo__title_footer {
  font-size: 17px;
}

@media screen and (min-width: 1020px) {
  .main-footer {
    min-height: 54px;
  }
  .main-footer__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-footer__designed {
    display: block;
    font-size: 17px;
    color: #ffffff;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 12.5px;
  }
  .logo_footer {
    margin: 0;
  }
  .logo__svg-block_footer {
    width: 54px;
    height: 54px;
  }
  .logo__title_footer {
    font-size: 29px;
  }
}
/*# sourceMappingURL=style.css.map */